@font-face {
    font-family: Iran;
    src: url(./Qs_Iranyekan\ medium.ttf);
}

*,body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Iran;
    direction: rtl;
}


.up-site{
    width: 100%;
    height: 60px;
    background-color: rgb(250, 250, 250);
    
}